<!-- 
    TODO: Completar el template de la página de inicio.

    Requisitos:
    - Extender base.html con {% extends "base.html" %}
    - Sobreescribir {% block content %} ... {% endblock %}
    - Dentro del bloque mostrar:
        - El valor de la variable {{ titulo }} en un encabezado (<h1>)
        - El valor de la variable {{ mensaje }} en un párrafo (<p>)
        - Un link hacia la lista de publicaciones usando {% url %}

    Pista para extender:
        {% extends "base.html" %}

        {% block content %}
            <h1>{{ titulo }}</h1>
            ...
        {% endblock %}
-->
        
        {%  extends "base.html" %}
         

        {% block content %}
            <h1>{{ titulo }}</h1>
            <p>{{ mensaje }}</p>
            <a href="{% url 'publicaciones:lista_publicaciones' %}">Ver Publicaciones</a>
        {% endblock %}